.col-sm-10{
	margin: 0 auto;
	background-color: #7e7d7d;
	align-items: center;
	width: 80%;
	height: 265px;
	border-radius: 12px;
}

.nav-wrapper{
	background-color: #1b1a1a;
}

i{
	margin-top: 170px;
	margin-left: 230px;
}

body{
	background-color: #1d1c1c;
}

img{
	margin-top: -30px;
	margin-left: 10px;
}

span{
	font-weight: bold;
}

#titulo{
	margin-top: 35px;
	margin-left: 230px;
	align-content: center;
	font-family: 'Times New Roman', Times, serif;
	color: floralwhite;	
}


#descricao{
	text-align: justify;
	font-family: 'Times New Roman', Times, serif;
	font-size: 12pt;
	margin-top: -200px;
	margin-left: 230px;
	margin-right: 50px;	
	float:left; 
}

#item1{
	color: black;
}
#item2{
	color: black;
}
#item3{
	color: black;
}

#dataLancamento{
	margin-top: -230px;
	margin-left: 480px;
	text-align: justify;
	font-family: 'Times New Roman', Times, serif;
	font-size: 12pt;
}

#diretor{
	margin-top: -20px;
	margin-left: 230px;
	text-align: justify;
	font-family: 'Times New Roman', Times, serif;
	font-size: 12pt;
}

#imgNota1{	
	color: #bfa100;
}

#imgNota2{
	color:#c0c0c0;
}

#textNota{
	margin-top: -25px;
	margin-left: 260px;
	text-align: justify;
	font-family: 'Times New Roman', Times, serif;
	font-size: 12pt;
}

#drop{
	margin-left: 200px; 
	border-radius: 2%;
}

#dropdown1{
	margin-top: 65px;
	margin-left: 200px; 
	border-radius: 2%;
}